<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.haochilao"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
         android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.haochilao.welcome" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.haochilao.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity android:name="com.example.menu.MenuActivity" />
        <activity android:name="com.example.menu.AffirmActivity" />
        <activity android:name="com.example.menu.SaveActivity" />
        <activity android:name="com.example.hao_chi_lao.OrderManagerActivity"/>
        <activity
            android:name="com.example.gerenguanli.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity android:name="com.example.gerenguanli.DengluActivity" />
       
        <activity android:name="com.example.gerenguanli.UndoActivity" />
       
        <activity android:name="com.example.gerenguanli.XiugaiActivity" />
        <activity android:name="com.example.quanju" />
        <activity android:name="com.example.gerenguanli.UpdateActivity" />
        <activity android:name="com.example.gerenguanli.LoginActivity" />
        <activity android:name="com.example.gerenguanli.registerActivity" />
        <activity android:name="com.example.gerenguanli.UserRegister" />
        <activity android:name="com.example.gerenguanli.AboutActivity" />
        <activity android:name="com.example.gerenguanli.XieyiActivity" />
        <activity android:name="com.example.gerenguanli.GuanliActivity" />
        <activity android:name="com.example.gerenguanli.ZhuxiaoActivity" />
    </application>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_LOGS" >
    </uses-permission>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

</manifest>